@model IEnumerable<it_shop_app.Models.Warenkorb>

@{
    ViewData["Title"] = "Warenkorb";
}
<h1>@ViewData["Title"]</h1>

@foreach (var warenkorb in Model) {
    <p>@warenkorb.Artikel.Bezeichnung</p>
}
