@model it_shop_app.Models.CreateArtikelViewModel
@{
    ViewData["Title"] = "Hinzufügen - Artikel";
}

<h1 class="display-4">Artikel Hinzufügen</h1>

<hr />
<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6">

            <h1 class="display-6">Artikel</h1>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="artikel.Bezeichnung" id="Bezeichnung" class="control-label"></label>
                <input asp-for="artikel.Bezeichnung" id="Bezeichnung" class="form-control" />
                <span asp-validation-for="artikel.Bezeichnung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="artikel.Beschreibung" id="Beschreibung" class="control-label"></label>
                <textarea rows="5" asp-for="artikel.Beschreibung" id="Beschreibung" class="form-control"> </textarea>
                <span asp-validation-for="artikel.Beschreibung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Kategorie</label>
                <input asp-for="kategorie.Bezeichnung" class="form-control" />
                <span asp-validation-for="kategorie.Bezeichnung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="artikel.Preis" class="control-label"></label>
                <input asp-for="artikel.Preis" class="form-control" />
                <span asp-validation-for="artikel.Preis" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">

            <h1 class="display-6">Merkmal</h1>
            <hr />

            <div class="form-group">
                <label asp-for="merkmal.Bezeichnung" id="Bezeichnung" class="control-label"></label>
                <input asp-for="merkmal.Bezeichnung" id="Bezeichnung" class="form-control" />
                <span asp-validation-for="merkmal.Bezeichnung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="merkmal.Wert" id="Wert" class="control-label"></label>
                <input asp-for="merkmal.Wert" id="Wert" class="form-control" />
                <span asp-validation-for="merkmal.Wert" class="text-danger"></span>
            </div>
        </div>
        
        <hr class="my-4" />

        <div class="form-group">
            <input type="submit" value="Speichern" class="btn btn-primary" />
        </div>

    </div>
</form>