@model it_shop_app.Models.CreateArtikelMultipleMerkmaleViewModel
@{
    ViewData["Title"] = "Hinzufügen - Artikel";
}

<h1 class="display-4">Artikel Hinzufügen</h1>

<hr />
<form asp-action="Create" method="post">
    <h1 class="display-6">Artikel</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="artikel.Bezeichnung" id="Bezeichnung" class="control-label"></label>
                <input asp-for="artikel.Bezeichnung" placeholder="Bezeichnung" id="Bezeichnung" class="form-control" />
                <span asp-validation-for="artikel.Bezeichnung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Kategorie</label>
                <input asp-for="kategorie.Bezeichnung" placeholder="Kategorie" class="form-control" />
                <span asp-validation-for="kategorie.Bezeichnung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="artikel.Preis" class="control-label"></label>
                <input asp-for="artikel.Preis" placeholder="Preis" class="form-control" />
                <span asp-validation-for="artikel.Preis" class="text-danger"></span>
            </div>
        </div>


        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="artikel.Beschreibung" class="control-label"></label>
                <textarea rows="8" asp-for="artikel.Beschreibung" placeholder="Beschreibung" class="form-control"> </textarea>
                <span asp-validation-for="artikel.Beschreibung" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- Merkmale -->
    <h1 class="display-6">Merkmale</h1>
    <hr />
    <div class="row" id="merkmale_div_1">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="merkmalBezeichnungen[0].Bezeichnung" class="control-label"></label>
                <input asp-for="merkmalBezeichnungen[0].Bezeichnung" placeholder="Bezeichnung" class="form-control" />
                <span asp-validation-for="merkmalBezeichnungen[0].Bezeichnung" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="merkmale[0].Wert" class="control-label"></label>
                <input asp-for="merkmale[0].Wert" placeholder="Wert" class="form-control" />
                <span asp-validation-for="merkmale[0].Wert" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row" style="margin-left:auto;margin-right:auto;">
            <input type="button" value="+" class="btn btn-primary" onclick="addMerkmal()" />
        </div>
    </div>

    <!-- Farben -->
    <h1 class="display-6">Farben</h1>
    <hr />
    <div class="row">
        <div class="col-md-6" id="farben_div_1">
            <div class="form-group">
                <input asp-for="farben[0].Bezeichnung" placeholder="Farbe" class="form-control" list="datalist_farben"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row" style="margin-left:auto;margin-right:auto;">
            <input type="button" value="+" class="btn btn-primary" onclick="addFarbe()" />
        </div>
    </div>

    <!-- Speichern -->
    <hr class="my-4" />
    <div class="row">
        <div class="row" style="margin-left:auto;margin-right:auto;">
            <input type="submit" value="Speichern" class="btn btn-primary" />
        </div>
    </div>
</form>