@page
@model bestelldetailsModel
@using it_shop_app.Models

@{
    ViewData["Title"] = "Bestell Details";
    ViewData["ActivePage"] = ManageNavPages.Bestellungen;
}

<h1>Test</h1>
<p>@Model.Bestellung_id</p>