@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using it_shop_app.Areas.Identity.Data

@inject SignInManager<IdentityNutzer> SignInManager
@inject UserManager<IdentityNutzer> UserManager

@{
    IdentityNutzer user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.Geburtsdatum"></label>
                    <input asp-for="Input.Geburtsdatum" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Input.Plz"></label>
                    <input asp-for="Input.Plz" class="form-control" />
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Input.Ort"></label>
                    <input asp-for="Input.Ort" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10">
                    <label asp-for="Input.Strasse"></label>
                    <input asp-for="Input.Strasse" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Input.Hausnummer"></label>
                    <input asp-for="Input.Hausnummer" class="form-control" />
                </div>
            </div>        

            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" />

            <br />

            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Speichern</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}